/TestResult/
/test-reports/
/package-lock.json
/node_modules/
/.idea/
/report.xml
/cypress/
/.env
/index.js
/config.js
/artifacts
workspace/code-workspace
/config/personas.ts
/config/default-config.ts
/config/environments.ts